---
- name: Setup Apache Web Server with Variable-based Configuration
  hosts: webservers
  become: yes

  tasks:
    - name: Update package cache
      apt:
        update_cache: yes
        cache_valid_time: 3600

    - name: Install Apache2
      apt:
        name: apache2
        state: present

    - name: Enable Apache2 service
      shell: service apache2 start || /usr/sbin/apache2ctl start
      ignore_errors: yes

    - name: Copy index.html to web server
      template:
        src: /etc/ansible/assets/index.html
        dest: /var/www/html/index.html
        mode: '0644'

    - name: Restart Apache2
      shell: service apache2 restart || /usr/sbin/apache2ctl restart
      ignore_errors: yes
